.all{
    background-color: antiquewhite;
    margin: 0px;
}
.judul {
    background-color: antiquewhite;
    
}

.content {
    background-color: antiquewhite;
    margin-top: 40px;
    word-spacing: normal;
}

.ending {
    background-color: antiquewhite;
    margin-top: 50px;
}