div {
    background-color:aliceblue;
}

header {
    margin-bottom: 30px;
}
table {
    border-style: double;
    border-color: black;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;

}

tr {
    text-align: left;
}

th {
    text-shadow: 5px;
}

th, td {
    padding: 15px;
}