.titlebesar{
    background-color: #0091ff;
    color: #fff;
    padding: 50px;
    margin-top: 0px;
    text-align: center;
}
.titlekecil{
    background-color: #76c4ff;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    text-align: center;
}
